<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style2.css">
    <title>Список студентів</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="search" placeholder="Пошук за прізвищем">
    <form @submit.prevent="addStudent">
        <input type="text" v-model="newStudent.name" placeholder="ПІБ" required>
        <input type="radio" id="group1" value="РПЗ 20 2/9" v-model="newStudent.group">
        <label for="group1">РПЗ 20 2/9</label>
        <input type="radio" id="group2" value="РПЗ 20 1/9" v-model="newStudent.group">
        <label for="group2">РПЗ 20 1/9</label>
        <input type="text" v-model="newStudent.birthYear" placeholder="Рік народження" required>
        <select v-model="newStudent.grade" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        
        <input type="checkbox" v-model="newStudent.passedPractical"> Практика
        <button type="submit">Додати</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ПІБ</th>
                <th>Група</th>
                <th>Рік народження</th>
                <th>Оцінка</th>
                <th>Практика</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="student in filteredStudents" :key="student.id">
                <td><span :class="{ 'highlighted-text': student.highlighted }">{{ student.name }}</span></td>
                <td><span :class="{ 'highlighted-text': student.highlighted }">{{ student.group }}</span></td>
                <td>{{ student.birthYear }}</td>
                <td>{{ student.grade }}</td>
                <td>
                    <input type="checkbox" v-model="student.passedPractical">
                </td>
                <td>
                    <a @click="removeStudent(student.id)" href="#">Видалити</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                students: [
                { id: 1, name: 'Иванов Иван Иванович', group: 'РПЗ 20 2/9', birthYear: 1995, grade: 5, passedPractical: true },
                { id: 2, name: 'Петров Петр Петрович', group: 'РПЗ 20 1/9', birthYear: 1997, grade: 4, passedPractical: false },
                { id: 3, name: 'Смирнов Алексей Андреевичч', group: 'РПЗ 20 2/9', birthYear: 1996, grade: 3, passedPractical: true },
                { id: 4, name: 'Козлова Анна Сергеевна', group: 'РПЗ 20 1/9', birthYear: 1998, grade: 5, passedPractical: true },
                { id: 5, name: 'Зайцева Ольга Николаевна', group: 'РПЗ 20 1/9', birthYear: 1999, grade: 2, passedPractical: false },
                { id: 6, name: 'Никитин Максим Игоревич', group: 'РПЗ 20 2/9', birthYear: 1997, grade: 4, passedPractical: true },
                { id: 7, name: 'Кузнецова Татьяна Владимировна', group: 'РПЗ 20 1/9', birthYear: 1994, grade: 5, passedPractical: true },
                ],
                search: '',
                newStudent: {
                    name: '',
                    group: 'РПЗ 20 2/9',
                    birthYear: '',
                    grade: null,
                    passedPractical: false
                }
            };
        },
        computed: {
            filteredStudents() {
                const searchTerm = this.search.toLowerCase();
                return this.students.map(student => {
                    const highlighted = searchTerm && student.name.toLowerCase().includes(searchTerm);
                    return { ...student, highlighted };
                });
            }
        },
        methods: {
            removeStudent(id) {
                const index = this.students.findIndex(student => student.id === id);
                if (index !== -1) {
                    this.students.splice(index, 1);
                }
            },
            addStudent() {
                const newStudentId = this.students.length + 1;
                this.students.push({
                    id: newStudentId,
                    name: this.newStudent.name,
                    group: this.newStudent.group,
                    birthYear: this.newStudent.birthYear,
                    grade: this.newStudent.grade,
                    passedPractical: this.newStudent.passedPractical
                });
                this.newStudent.name = '';
                this.newStudent.birthYear = '';
                this.newStudent.grade = null;
                this.newStudent.passedPractical = false;
            },
            mapGrade(grade) {
                switch (grade) {
                    case 5:
                        return 'Відмінно';
                    case 4:
                        return 'Добре';
                    case 3:
                        return 'Задовільно';
                    case 2:
                        return 'Незадовільно';
                    case 1:
                        return 'Погано';
                    default:
                        return '';
                }
            }
        }
    });

    app.mount('#app');
</script>
</body>
</html>