.highlighted {
    background-color: rgb(230, 169, 169);
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #2F4F4F;
    color: white;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #008080;
    color: white;
}
td a {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
}
.highlighted-text {
    background-color: rgb(230, 169, 169);
}